node_modules
dist
.env
.env.*
android
ios
**/build
**/*.log
coverage
.vscode
.idea
.DS_Store
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
project.xcworkspace
xcuserdata
*.iml
.gradle
local.properties
.classpath
.project
.settings
